@charset "UTF-8";

/* Importação de fonte */


@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

 /* CSS reset */
 * {
    margin:0;
    padding: 0;
    border: 0;

 }


/* Layout */

body {
    font-family: "Open Sans", sans-serif ;
    font-size: 1em;    /* 1em = 100% (tamanho padrão) */ 

}
.container {
    margin: 0 auto; /* centralizar o bloco */
}

/* Smartphones portrait >>>>>>>>>>>>>>>>>>>>>>>>>> */
 /* Cabeçalho */
header {
    height: 35px;
    background-color: #ff000dbd;
}

#logo img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Smartphones Landscape >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {
   /* cabeçalho*/
   #logo img {
    margin: 10px 0px 0px 0px;
   }
   .container {
    max-width: 540px;
    background-color: crimson;
   }
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Tablet portrait >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
    /* cabeçalho*/
    .container {
        max-width: 720px;
        background-color: rgb(42, 99, 165);
    }
    header {
        height: 120px;
    }
    #logo img {
        width: 100px;
        height: 100px;
    }

}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {
    /* cabeçalho */
    .container {
        max-width: 960px;
        background-color: brown;
    }
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        background-color: rgb(12, 139, 0);
    }
   header {
    height: 150px;
   }
   #logo img {
    width: 128px;
    height: 128px;
   }

}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* telas fullhd / 4K / smartTv >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {
    .container {
        max-width: 1360px;
        background-color: rgb(65, 0, 139);
    }
   header {
    height: 200px;
   }
   #logo img {
    width: 176px;
    height: 176px;
   }

  
}




/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */